<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Seja Bem Vindo administrador</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="eventos">Cadastrar um evento</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="cursos">Cadastrar um curso</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="cadAdmin">Definir um novo administrador</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="dashboard">Relatórios</a>
      </li>
    </ul>
  </div>
</nav>


