<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Toufic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalCurso">Cursos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalEvento">Eventos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalRelatorio">Relatórios</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="modalCurso" tabindex="-1
2" role="dialog" aria-labelledby="modalCurso" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCurso">Entre com seu usário e senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Para você acessar a área de cursos da plataforma, você precisa
        se autenticar como administrador ou aluno, selecione uma das opções
        de usuário nos cards abaixo para entrar com suas credenciais e ter acesso
        na plataforma.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendi</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEvento" tabindex="-1
2" role="dialog" aria-labelledby="modalEvento" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEvento">Entre com seu usário e senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Para você acessar a área de eventos da plataforma, você precisa
        se autenticar como administrador ou aluno, selecione uma das opções
        de usuário nos cards abaixo para entrar com suas credenciais e ter acesso
        na plataforma.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendi</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalRelatorio" tabindex="-1
2" role="dialog" aria-labelledby="modalRelatorio" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRelatorio">Entre com seu usário e senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Para você acessar a área de relatórios da plataforma, você precisa
        se autenticar como administrador da plataforma, para isso selecione
        o card de autenticação como administrador da plataforma para genrenciar
        toda a plataforma.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendi</button>
      </div>
    </div>
  </div>
</div>

