  {{>_navbarPadrao}}
  <div class="container mt-4">
    {{>_msg}}
    <div class="card" style="width: 18rem; margin-left: 140px;">
      <img src="images/adminLogin.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Entrar como Administrador</h5>
        <p class="card-text">
          Entre como administrador para gerenciar o sistema.
          Aqui você poderá cadastrar, editar e vsualizar 
          eventos e cursos da escola, além de ter acesso
          ao relatório de inscrição dos alunos em eventos e cursos.
        </p>
        <a href="admin/login" class="btn btn-primary">Entrar como administrador</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 600px; margin-top: -610px;">
      <img src="images/aluno.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Entrar como Aluno</h5>
        <p class="card-text">
          Entre como aluno e tenha visualize os cursos e eventos disponibilizados
          pela escola, além de realizar suas inscrições
          em cursos e eventos disponíveis.
        </p>
        <a href="aluno/inscricoes" class="btn btn-primary">Entrar como aluno</a>
      </div>
    </div>
  </div>

